body{
    margin-top: 150px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
table{
    background: url(images/login.jpg) right center no-repeat;
    background-size: contain;
    border: 2px dotted #FF0004;
    border-radius: 10px;
    margin: auto;
    height: 300px;
    width: 35%;
}
.txt{
    background-color: rgba(255,0,0,0.3);
    border: 1px dotted #FF0004;
    border-radius: 5px;
    padding: 5px;
}
.button{
    background-color:#da0000;
    padding: 5px; 
    color:#FFFFFF;
    border-radius: 10px;
}
